.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.container {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 480px;
  height: 655px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.16);
  background-color: #fff;
  border-radius: 8px;
  padding: 32px;
}

.join {
  font-style: bold;
  font-size: 26px;
  line-height: 100%;
  vertical-align: middle;
  color: #202124;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.desc {
  font-size: 18px;
  color: #8e8e8e;
}
.first-name {
  display: flex;
  gap: 3px;
  font-style: bold;
  font-size: 14px;
}
.first {
  font-size: 14px;
  font-style: bold;
  font-weight: 600;
}

.input {
  width: 476px;
  height: 44px;
  border-radius: 8px;
  border: 1px solid #0ca5e9;
  padding: 12px;
}
.star {
  color: red;
}
.last-name {
  display: flex;
  gap: 3px;
  font-style: bold;
  font-size: 14px;
}
.last {
  font-size: 14px;
  font-style: bold;
  font-weight: 600;
}
.username {
  display: flex;
  gap: 3px;
  font-style: bold;
  font-size: 14px;
}
.user {
  font-size: 14px;
  font-style: bold;
  font-weight: 600;
}
.errorText {
  color: #e14942;
  font-size: 14px;
  font-weight: 400;
}
.continue {
  width: 480px;
  height: 44px;
  background-color: #121316;
  color: white;
  font-weight: 500;
  font-size: 16px;
  border-radius: 6px;
}
.continue2-3 {
  width: 350px;
  height: 44px;
  background-color: #121316;
  color: white;
  font-weight: 500;
  font-size: 16px;
  border-radius: 6px;
}
.back {
  width: 128px;
  height: 44px;
  background-color: #ffffff;
  color: black;
  font-weight: 500;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #cbd5e1;
}
.btn-container {
  display: flex;
  gap: 8px;
}
.imageBg {
  height: 180px;
  width: 416px;
  background-color: #7f7f800d;
}
.addImageText {
  font-weight: 500;
  font-size: 14px;
  text-align: center;
}
.icon {
  width: 28px;
  height: 28px;
}
.submitCard {
  display: flex;
  flex-direction: column;
  /* width: 480px;
  height: 193px; */
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.16);
  background-color: #fff;
  border-radius: 8px;
  padding: 32px;
}
.submitText {
  font-weight: 600;
  font-style: Bold;
  font-size: 26px;
}
.submitDesc {
  font-weight: 400;
  font-size: 18px;
  color: #8e8e8e;
}
