.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
* {
  padding: 0;
  margin: 0;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 480px;
  height: 655px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.16);
  background-color: #fff;
  border-radius: 8px;
  padding: 32px;
}
.join {
  font-style: bold;
  font-weight: 600;
  font-size: 26px;
  line-height: 100%;
  vertical-align: middle;
  color: #202124;
  display: flex;
  gap: 8px;
}
.shadow {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.desc {
  font-size: 18px;
  color: #8e8e8e;
  display: flex;
  gap: 8px;
}
.first-name {
  display: flex;
  gap: 3px;
  font-style: bold;
  font-size: 14px;
  display: flex;
  gap: 28px;
}
.name {
  font-size: 14px;
  font-style: bold;
  font-weight: 600;
}
.input {
  width: 414px;
  height: 44px;
  border-radius: 8px;
  border: 1px solid #cbd5e1;
  padding: 0px;
  align-items: center;
}
.star {
  color: red;
}
.last-name {
  display: flex;
  gap: 3px;
  font-style: bold;
  font-size: 14px;
  margin-top: 8px;
}
.username {
  display: flex;
  gap: 3px;
  font-style: bold;
  font-size: 14px;
  margin-top: 8px;
}
.errorText {
  color: #e14942;
  font-size: 14px;
  font-weight: 400;
}
.continue {
  width: 416px;
  height: 44px;
  background-color: #121316;
  color: white;
  font-weight: 500;
  font-size: 16px;
  border-radius: 6px;
  margin-top: 162px;
}
.continue2-3 {
  width: 280px;
  height: 44px;
  background-color: #121316;
  color: white;
  font-weight: 500;
  font-size: 16px;
  border-radius: 6px;
}
.back {
  width: 128px;
  height: 44px;
  background-color: #ffffff;
  color: black;
  font-weight: 500;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #cbd5e1;
}
.buttonContainer {
  display: flex;
  gap: 8px;
}
/* #imageBg {
  width: 416px;
  height: 180px;
  background-color: #7f7f800d;
  display: none;
} */

.hiddenFileInput {
  display: none;
}
.customUploadButton {
  width: 416px;
  height: 180px;
  /* display: inline-block; */
  background: #7f7f800d;
  color: rgb(7, 7, 7);
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.addImageText {
  font-weight: 500;
  font-size: 14px;
  text-align: center;
}
.icon {
  width: 28px;
  height: 28px;
}
.submitCard {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.16);
  background-color: #fff;
  border-radius: 8px;
  padding: 32px;
}
.submitText {
  font-weight: 600;
  font-style: Bold;
  font-size: 26px;
}
.submitDesc {
  font-weight: 400;
  font-size: 18px;
  color: #8e8e8e;
}
